.mypage-main
  .mypage-wrapper
    .credit-main
      %h2.credit-heading クレジットカード登録
      .credit-containar
        = form_with url: creditcard_index_path, id: "charge-form", local: true do |f|
          .credit-namber
            %label.credit-contents カード番号
            %label.Mandatory 必須
            %br
            = f.text_field :card_number, type: "text", class: 'credit-namber__area', id:'card-number', placeholder: "半角数字のみ", maxlength: 16
            %br
            = image_tag "creditcard-brand.png", size:"150x33"
          .credit-expiration
            %label.credit-contents 有効期限
            %label.Mandatory 必須
            %br
            .credit-expiration__area
              = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'credit-expiration__area--month', name: 'exp_month'
              月
              = f.select :exp_year, [["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'credit-expiration__area--year', name: 'exp_year'
              年
          .credit-security
            %label.credit-contents セキュリティコード
            %label.Mandatory 必須
            %br
            = f.text_field :cvc, type: 'text', class: "credit-security__area", placeholder: "  カード背面3~4桁の番号", maxlength: "4", id: "cvc" 
            #card_token
          = f.submit "登録する", class: "credit_submit", id: 'token_submit'