.header
  .header__inner
    .header__main
      .header__icon
        = link_to "/"
      .header__searchbox
        = form_with(local: true) do |form|
          = form.text_field :name, placeholder: "キーワードから探す", class:"header__searchbox--input"
          .header__searchbox--icon
            = button_tag type: :submit
    .header__nav
      .header__listsLeft
      .header__listsRight
        -if user_signed_in?
          %li.header__listsRight--item.header__listsRight--item--login
            =link_to "マイページ", mypages_path(current_user)
          %li.header__listsRight--item.header__listsRight--item--new
        -else
          %li.header__listsRight--item.header__listsRight--item--login
            =link_to "ログイン", new_user_session_path(current_user)
          %li.header__listsRight--item.header__listsRight--item--new
            =link_to "新規会員登録", new_user_registration_path(current_user)
.body
  = link_to "#" do
    = render 'sellbook-icon'
  .main
    .main__content
      .main__content__title
        お家で不要になった絵本ございませんか？
      .main__content__sub
        KidsBookParkは どなたでも 簡単に 出品・購入できる
        %div 絵本のフリマアプリです
  .introduction
    .introduction__title
      FURIMAが選ばれる3つの理由
    .introduction__lists 
      .introduction__lists__list
.banner
  .banner__box
    .banner__box__title
      だれでもかんたん、人生を変えるフリマアプリ
    .banner__box__text
      今すぐ無料ダウンロード！
    .banner__content__btn
      = #link_to (image_tag ("app-store-logo.png"), class:"content-btn"), "#" 
      = #link_to (image_tag ("google-player.png") ,class: "content-btn"), "#"
.footer