.header
  .header__main
    .header__main__icon
      = link_to "/" do
        = image_tag "headerlogo.png", class:"header_logo"
    .header__main__title
      絵本のフリマサイト KidsBookPark[キッズブックパーク]
    .header__main__nav
      .header__main__nav__list
        -if user_signed_in?
          =link_to mypages_path(current_user) do
            .header__main__nav__list--mypage
              マイページ
        -else
          =link_to new_user_session_path(current_user), class: "header__main__nav__list--login" do
            .header__main__nav__list--login
              ログイン
          =link_to new_user_registration_path(current_user) do
            .header__main__nav__list--new
              新規会員登録
            
  .header__search
    .header__searchbox
      = form_with(local: true) do |form|
        = form.text_field :name, placeholder: "キーワードから探す", class:"header__searchbox--input"
        .header__searchbox--icon
          = button_tag type: :submit
    .header__nav

.body
  = link_to "#" do
    = render 'sellbook-icon'
  .main
    .main__content
      .main__content__title
        お家で不要になった絵本ございませんか？
      .main__content__sub
        KidsBookParkは どなたでも 簡単に 出品・購入できる絵本のフリマアプリです
      .main__content__descripts
        .main__content__descripts__introduction
          .main__content__icon
            = image_tag ("introduction_icon.png"), class:"introduction-icon"
          .main__content__descripts__introduction__title
            こ ん な 方 に オ ス ス メ
          .main__content__icon
            = image_tag ("introduction_icon.png"), class:"introduction-icon"
        .main__content__descripts__list
          %li 子供が大きくなって読まなくなった絵本の処理に困っている
          %li 思い入れがあるものを捨てるのもなんだか勿体ない
          %li 子供が好きなシリーズをまとめて購入したい
          %li 出来るだけ安価で安全なものを購入したい
  .introduction
    .introduction__title
    .introduction__lists 
      .introduction__lists__list
.banner
  .banner__box
    .banner__box__title
    .banner__box__text
    .banner__content__btn
.footer