.sell-main
  .sell-containar
    .sell-body
      = form_with model: @book, local: true do |form|
        .sell-image
          .sell-image__main
            .sell-title
              出品画像
            .mandatory
              必須
            %br
          .sell-image__sub 最大4枚までアップロードできます
          %br
          .input-area
            %i.fas.fa-camera
            %br
            .picture-introduct
              ドラックアンドドロップ
              %br
              またはクリックしてファイルをアップロード
          .input-area__item-image
            = form.fields_for :item_images do |i|
              = i.file_field :image, class: 'js-file'

        .sell-book
          .sell-book__main
            .sell-title
              タイトル
            .mandatory
              必須
          = form.text_field :name , class: "sell-book__area", placeholder: "  40文字まで" ,maxlength: "40"
          %br
        .sell-book
          .sell-book--introduct
            .sell-title 本の説明
            .mandatory 必須
          = form.text_area :introduction, class: "sell-book__introduct", placeholder: " 本の説明、概要など記載してください" ,maxlength: "500"
          %br
        .sell-show
          .sell-show__category
            .sell-title
              カテゴリー
            .mandatory
              必須
          = form.collection_select :category_id, @parents, :id, :name, { include_blank: "選択してください" }, {class: "sell-book__area"}
          %br
          -# .sell-show__area
          -#   = form.collection_select :category_id, @parents, :id, :name, { include_blank: "選択してください" }, { class: "sell-show__category" }
          -#   .category_field_c
          .sell-show__author
            .sell-title
              作 者
            .mandatory
              必須
          = form.text_field :author, class: "sell-book__area", placeholder: "  例) 絵本太郎"
          .sell-show__publisher 
            .sell-title
              出版社
            .any
              任意
          = form.collection_select :publisher_id, Publisher.all, :id, :publisher, { include_blank: "選択してください" }, { class: "sell-show__area" }
          .sell-show__condition
            .sell-title
              商品の状態
            .mandatory
              必須
          = form.collection_select :condition_id, Condition.all, :id, :condition, { include_blank: "選択してください" }, { class: "sell-show__area" }
        .sell-delivery
          .sell-delivery__title
            配送について
          .sell-delivery__shipping
            .delivery-title 配送料の負担
            .mandatory 必須
          = form.collection_select :postage_payer_id, PostagePayer.all, :id, :postage_payer, { include_blank: "選択してください" }, { class: "sell-show__area" }
          .sell-delivery__prefectures
            .delivery-title
              発送元の地域
            .mandatory
              必須
          = form.collection_select :prefecture_id, Prefecture.all, :id, :prefecture, { include_blank: "選択してください" }, { class: "sell-show__area" }
          .sell-delivery__day
            .delivery-day
              発送までの日数
            .mandatory
              必須
          = form.collection_select :preparation_day_id, PreparationDay.all, :id, :preparation_day, { include_blank: "選択してください" }, { class: "sell-show__area" }
        .sell-price
          .sell-price__show
            .price-title 販売価格
            .mandatory 必須
          .sell-price__description
            価格(¥100〜9,9999,999)
          .sell-price__description__money
            .yen
              ¥
            = form.text_field :price , class: "sell-price__area" ,placeholder: "  0  "
            %br
          .sell-price__fee 販売手数料 (5%)
        .sell-form
          = form.submit "出品する", class: "sell_submit"