!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Kidsbookpark
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  .header
    .header__main
      .header__main__icon
        = link_to "/" do
          = image_tag "kbp_logo.png", class:"header_logo"
      .header__main__title
        絵本のフリマサイト KidsBookPark[キッズブックパーク]
      .header__main__nav
        .header__main__nav__list
          -if user_signed_in?
            =link_to mypages_path(current_user) do
              .header__main__nav__list--mypage
                マイページ
          -else
            =link_to new_user_session_path(current_user), class: "header__main__nav__list--login" do
              .header__main__nav__list--login
                ログイン
            =link_to new_user_registration_path(current_user) do
              .header__main__nav__list--new
                新規会員登録
    .header__search
      .header__search__nav
        .header__search__nav--category
          カテゴリー
        .header__search__nav--publisher
          出版社
      .header__search__searchbox
        = form_with(local: true) do |form|
          = form.text_field :name, placeholder: "キーワードから探す"
        .header__search__searchbox__icon
          = button_tag type: :submit do
            = image_tag "icon-search.png"
  = yield
  .footer
    %ul.footer__contents
      %li.footer__content
        %h2.footer__content--head KidsBookParkについて
        %ul
          %li
            %a{:href => "/"} 会社概要（運営会社）
          %li
            %a{:href => "/"} プライバシーポリシー
          %li
            %a{:href => "/"} KidsBookPark利用規約
          %li
            %a{:href => "/"} ポイントに関する特約
      %li.footer__content
        %h2.footer__content--head KidsBookParkを見る
        %ul
          %li
            %a{:href => "/"} カテゴリー一覧
          %li
            %a{:href => "/"} ブランド一覧
      %li.footer__content
        %h2.footer__content--head ヘルプ＆ガイド
        %ul
          %li
            %a{:href => "/"} KidsBookParkガイド
          %li
            %a{:href => "/"} KidsBookParkロゴ利用ガイドライン
          %li
            %a{:href => "/"} お知らせ
    .footer__logo
      = link_to "/" do
        .footer__logo__image
          = image_tag "kbp_logo.png"
    %p © KidsBookPark